.Header {
  border: 2px solid black;
  height: 90px;
  background-image: linear-gradient(rgb(119, 10, 10), rgb(146, 146, 24));
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
}
